*
{
    padding: 0px;
    margin: 0px;
}

body
{
    background-color: #545342;
}

input[type="text"]
{
    width: 200px;
    padding: 5px;
    letter-spacing: 1px;
    color: #545342;
    background-color: #D3D1A4;
    border: solid 1px #000000;
    font: normal normal normal 9px/11px 'Consolas', 'Courier New', 'monospace';
}

textarea
{
    overflow: auto;
    width: 200px;
    height: 100px;
    padding: 5px;
    letter-spacing: 1px;
    color: #545342;
    background-color: #D3D1A4;
    border: solid 1px #000000;
    font: normal normal normal 9px/11px 'Consolas', 'Courier New', 'monospace';
}

#main
{
    text-align: center;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#data
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 25px;
}

#image
{
    text-align: left;
    margin: 25px;
}
